.wrapper {
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }
  
  .button {
    display: block;
    margin: 40px auto;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    color: #3470FF;
border-color: #3470FF;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
   color: #0056b3;
  }
  