.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 400;
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 8px;
  display: block;
}

.select {
  border-radius: 12px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  font-size: 14px;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
}

.select:focus {
  outline: none;
  border-color: #007bff;
}

  